
/*BASE STYLES*/
body {
    background: rgb(97,10,183);
    background-image: linear-gradient(203deg, rgba(97,10,183,1) 45%, rgba(24,150,246,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 100px 0px 100px 0px;
}

/*FONT STYLES*/
h1, h2, h3, p {
    color: #707070 !important;
}

.content-text {
    font-size: 24px !important;
    text-align: left;
}

.white-header {
    color: white !important;
    font-size: 64px;
    font-weight: 600;
}

.white-subheader {
    color: white !important;
    font-size: 46px;
    font-weight: 200;
}

.grey-header {
    font-size: 64px;
    font-weight: 600;
    text-align: left;
}

.banner-text {
    margin-top: 20%;
}

/*BACKGROUND STYLES*/
.bg-white {
    background-color: white;
}

.banner {
    display: flex;
}

/*IMAGE STYLES*/
.banner-image img {
    width: auto;
    height: auto;
    max-height: 800px;
    max-width: 800px;
}

.info-banner-image img {
    width: auto;
    height: auto;
    max-height: 800px;
    max-width: 800px;
}

/*FOOTER STYLES*/
footer {
    width: 100%;
    background-color: white;
    text-align: center;
}
